@import url("https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Poiret+One&display=swap");
$title-font: "Dawning of a New Day", cursive;
$default-font: "Poiret One", cursive;

//Banner
.banner {
  background-color: #bb9161;
  padding: 0.5em;
}

.banner-message {
  text-align: center;
  margin: 0;
  font-size: 1em;
  color: white;
}

.insta {
  color: white;
}

body {
  font-family: $default-font;
}

ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

li {
  display: inline;
  float: left;
}

li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.title {
  margin-left: 1em;
  font-size: 2em;
  font-family: $title-font;
  font-weight: 500;
}

.logo {
  position: sticky;
  margin: auto;
  left: 47%;
  width: 5%;
  top: 2;
}

.links {
  float: right;
}

.links a {
  margin-right: 5em;
  font-size: 1.2em;
}

.shopping-bag {
  margin-right: 5em;
}

//SHOP CSS

.shop {
  display: block;
  text-align: center;
}

.shop h1 {
  margin-top: 3%;
}

.hide-shop {
  display: none;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container {
  text-align: center;
  width: 30%;
  font-size: 0.7em;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-product {
  font-family: $default-font;
}

.product-info-blurb {
  text-align: center;
}

.product-card {
  width: 100%;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

//PRODUCT INFO

.product {
  display: block;
  margin-top: 3%;
}

.hide-product {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container img {
  width: 20%;
}

.product-info {
  width: 25%;
  font-size: 1.3em;
}

.product-info p {
  font-weight: 600;
}

.quantity {
  display: flex;
  border-width: 0.1em;
  border-style: solid;
  border-color: #bb9161;
  width: 15%;
  height: 4%;
}

.quantity h1 {
  font-size: 1em;
  margin: 0;
  user-select: none;
  margin-left: 40%;
  margin-top: 5%;
}

.flex-container {
  user-select: none;
}

.quantity-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.up,
.down {
  float: right;
}

.product-info button {
  width: 35%;
  height: 5%;
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border-color: #bb9161;
  border-style: solid;
  color: #bb9161;
  font-size: 0.6em;
}

//Footer

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #bb9161;
  color: white;
  padding: 0.5em;
}
