@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dawning+of+a+New+Day&display=swap");
$title-font: "Dawning of a New Day", cursive;
$default-font: "Cormorant Garamond", serif;
$background-color: #e2c7aa;

html,
body {
  height: 100%;
  font-family: $default-font;
  flex-wrap: wrap;
}

html {
  height: 100%;
}

//Banner
.banner {
  background-color: $background-color;
  padding: 0.5em;
}

.banner-message {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  color: white;
}

//nav

.nav-bar-headers ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.nav-bar-headers li {
  display: inline;
  float: left;
}

.nav-bar-headers li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.title {
  margin-left: 1em;
  font-size: 2rem;
  font-family: $title-font;
  font-weight: 500;
}

.logo {
  position: sticky;
  margin: auto;
  left: 47%;
  width: 5%;
  top: 2;
}

.links {
  float: right;
}

.links a {
  margin-right: 5em;
  font-size: 1.2rem;
}

.shopping-bag {
  margin-right: 5em;
}

//Homepage

.welcome-banner {
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 15vw;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  background-color: $background-color;
  padding: 10px;
}

.welcome-banner button {
  font-family: "Times New Roman", Times, serif;
  padding: 0.75em;
}

//SHOP CSS

.shop {
  display: block;
  text-align: center;
}

.shop h1 {
  margin-top: 3%;
}

.hide-shop {
  display: none;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-container {
  text-align: center;
  width: 30%;
  font-size: 0.7rem;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-product {
  font-family: $default-font;
}

.product-info-blurb {
  text-align: center;
}

.product-card {
  width: 100%;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

//PRODUCT INFO

.product {
  display: block;
  margin-top: 3%;
}

.hide-product {
  display: none;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-container img {
  min-width: 20%;
}

.product-info {
  width: 25%;
  font-size: 1.3rem;
}

.product-info p {
  font-weight: 600;
}

.quantity {
  display: flex;
  border-width: 0.1em;
  border-style: solid;
  border-color: $background-color;
  width: 15%;
  height: 4%;
}

.quantity h1 {
  font-size: 1rem;
  margin: 0;
  margin-left: 40%;
  margin-top: 5%;
}

.quantity-flex-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  width: 100%;
}

.up,
.down {
  float: right;
}

.product-info button {
  width: 35%;
  height: 5%;
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border-color: $background-color;
  border-style: solid;
  color: $background-color;
  font-size: 0.6rem;
}

//cart

.cart {
  margin-left: 20%;
  margin-right: 20%;
}

.cart-headers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}

.blank-margin {
  width: 6.5% !important;
}

.cart-headers h1 {
  width: 25%;
  font-size: 1.5rem;
}

.cart-product {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.1em solid $background-color;
  text-align: center;
}

.cart-product h1 {
  width: 25%;
  font-size: 1.5rem;
}

.cart-product img {
  width: 6%;
}

.cart-product.cart-plus-div {
  min-width: 25%;
}

.cart-product img,
h1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.cart-quantity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25%;
}

.cart-plus-div {
  display: flex;
  background-color: $background-color;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-top: 0.1em black solid;
  border-left: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-plus {
  width: 100%;
  color: white;
  height: 35%;
}

.cart-spacer {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: center;
  border-top: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-minus-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  background-color: rgb(221, 220, 220);
  border-top: 0.1em black solid;
  border-right: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-minus {
  width: 100%;
  height: 35%;
  color: black;
}

.cart-trash {
  width: 25%;
  color: $background-color;
}

form button {
  float: right;
}

//Footer

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $background-color;
  color: white;
}

.footer-links {
  display: flex;
  float: left;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-right: none;
}

.footer-links a {
  margin-bottom: 0.5em;
  text-decoration: none;
  color: white;
}

.footer-socials {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-socials a {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

//preorder

.preorder {
  text-align: center;
}

.preorder ul {
  list-style: none;
}

@media (max-width: 480px) {
}

@media (max-width: 768px) {
  .title {
    margin-left: 0;
    font-size: 0.9rem;
  }

  .links a {
    margin-right: 0.6em;
    font-size: 1rem;
  }

  .shopping-bag {
    margin-right: 0;
    width: 1rem;
  }

  .welcome-banner {
    max-height: 100vw;
  }

  .welcome-banner h1 {
    font-size: 1.5rem;
  }

  .welcome-banner h2 {
    font-size: 1rem;
  }

  .footer-links a {
    margin-bottom: 0.1em;
    font-size: 0.7rem;
  }

  .card {
    flex-direction: column;
    align-items: center;
    padding-bottom: 150px;
  }

  .product-card {
    min-height: 80vw;
  }

  .shop h1 {
    margin-top: 0;
  }

  .flex-container {
    padding-bottom: 150px;
  }

  .flex-container img {
    max-width: 45%;
    height: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .product-info {
    width: 50%;
  }

  .product-info h1 {
    font-size: 1.5rem;
  }

  .product-info h3 {
    font-size: 1rem;
  }

  .quantity {
    width: 50%;
    height: 7%;
  }

  .product-info button {
    width: 100%;
  }

  .product-info p {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 1200px) {
}
