@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Dawning+of+a+New+Day&display=swap");
html,
body {
  height: 100%;
  font-family: "Cormorant Garamond", serif;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

html {
  height: 100%;
}

.banner {
  background-color: #e2c7aa;
  padding: 0.5em;
}

.banner-message {
  text-align: center;
  margin: 0;
  font-size: 1rem;
  color: white;
}

.nav-desktop {
  display: block;
}

.nav-bar-headers ul {
  list-style-type: none;
  overflow: hidden;
  text-align: center;
}

.nav-bar-headers li {
  display: inline;
  float: left;
}

.nav-bar-headers li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.title {
  margin-left: 1em;
  font-size: 2rem;
  font-family: "Dawning of a New Day", cursive;
  font-weight: 500;
}

.logo {
  position: -webkit-sticky;
  position: sticky;
  margin: auto;
  left: 47%;
  width: 5%;
  top: 2;
}

.links {
  float: right;
}

.links a {
  margin-right: 5em;
  font-size: 1.2rem;
}

.shopping-bag {
  margin-right: 5em;
}

.welcome-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 30vw;
  margin-left: 3%;
  margin-right: 3%;
  text-align: center;
  padding: 10px;
  background-image: url("./lily-note-welcome.jpg");
  background-size: cover;
}

.welcome-banner button {
  font-family: "Times New Roman", Times, serif;
  padding: 0.75em;
}

.shop {
  display: block;
  text-align: center;
}

.shop h1 {
  margin-top: 3%;
}

.hide-shop {
  display: none;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product-container {
  text-align: center;
  width: 30%;
  font-size: 0.7rem;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.title-product {
  font-family: "Cormorant Garamond", serif;
}

.product-info-blurb {
  text-align: center;
}

.product-card {
  width: 100%;
  min-height: 20vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-card img {
  border-radius: 1em;
}

.product {
  display: block;
  margin-top: 3%;
}

.hide-product {
  display: none;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-content: center;
  gap: 2em;
}

.flex-container img {
  max-width: 20%;
  max-height: 20vw;
}

.product-info {
  width: 25%;
  font-size: 1.3rem;
}

.product-info p {
  font-weight: 600;
}

.quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-width: 0.1em;
  border-style: solid;
  border-color: #e2c7aa;
  width: 15%;
  height: 4%;
}

.quantity h1 {
  font-size: 1rem;
  margin: 0;
  margin-left: 40%;
  margin-top: 5%;
}

.quantity-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.up,
.down {
  float: right;
}

.product-info button {
  width: 35%;
  height: 5%;
  margin-top: 5%;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  border-color: #e2c7aa;
  border-style: solid;
  color: #e2c7aa;
  font-size: 0.6rem;
}

.cart {
  margin-left: 20%;
  margin-right: 20%;
}

.cart-headers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.blank-margin {
  width: 6.5% !important;
}

.cart-headers h1 {
  width: 25%;
  font-size: 1.5rem;
}

.cart-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.1em solid #e2c7aa;
  text-align: center;
}

.cart-product h1 {
  width: 25%;
  font-size: 1.5rem;
}

.cart-product img {
  width: 6%;
}

.cart-product.cart-plus-div {
  min-width: 25%;
}

.cart-product img,
h1 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.cart-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
}

.cart-plus-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e2c7aa;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.1em black solid;
  border-left: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-plus {
  width: 100%;
  color: white;
  height: 35%;
}

.cart-spacer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-minus-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  background-color: #dddcdc;
  border-top: 0.1em black solid;
  border-right: 0.1em black solid;
  border-bottom: 0.1em black solid;
}

.cart-minus {
  width: 100%;
  height: 35%;
  color: black;
}

.cart-trash {
  width: 25%;
  color: #e2c7aa;
}

form button {
  float: right;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #e2c7aa;
  color: white;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: none;
}

.footer-links a {
  margin-bottom: 0.5em;
  text-decoration: none;
  color: white;
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-socials a {
  margin-left: 0.3em;
  margin-right: 0.3em;
}

.preorder {
  text-align: center;
}

.preorder ul {
  list-style: none;
}

@-webkit-keyframes hamburger-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hamburger-slide {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .title {
    margin-left: 0;
    font-size: 0.9rem;
  }
  .links a {
    margin-right: 0.6em;
    font-size: 1rem;
  }
  .shopping-bag {
    margin-right: 0;
    width: 1rem;
  }
  .welcome-banner {
    max-height: 100vw;
  }
  .welcome-banner h1 {
    font-size: 1.5rem;
  }
  .welcome-banner h2 {
    font-size: 1rem;
  }
  .footer-links a {
    margin-bottom: 0.1em;
    font-size: 0.7rem;
  }
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 150px;
  }
  .product-card {
    min-height: 80vw;
  }
  .shop h1 {
    margin-top: 0;
  }
  .flex-container {
    padding-bottom: 150px;
  }
  .flex-container img {
    max-width: 45%;
    height: 100%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .product-info {
    width: 50%;
  }
  .product-info h1 {
    font-size: 1.5rem;
  }
  .product-info h3 {
    font-size: 1rem;
  }
  .quantity {
    width: 50%;
    height: 7%;
  }
  .product-info button {
    width: 100%;
  }
  .product-info p {
    font-size: 1rem;
  }
  .cart {
    margin: 0;
  }
  .cart-headers h1 {
    font-size: 1rem;
  }
  .cart-product h1 {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=App.css.map */